[Unit]
Description=Containerlab API Docker Container
After=docker.service
Requires=docker.service

[Service]
Type=simple
# Use absolute path for working directory
WorkingDirectory=/opt/services/containerlab-api
# Use absolute path for docker command
ExecStart=/usr/bin/docker compose -f /opt/services/containerlab-api/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/services/containerlab-api/docker-compose.yml down
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 